{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <section class="area_login"> 

    <form action="{% url 'views.alunos' %}" method="post">
        {% csrf_token %}

        <div class="forms">

            <div class="img">
                <img src={% static 'imagens/carlson.png' %}>
            </div>
            
                <div class="formularios">
                    <div class="nome-aluno">
                        <input type="text" name="nome" placeholder="Nome do Aluno">
                    </div>
                    
                    <div class="data-cadastro">
                        <input type="date" name="data">
                    </div>
                    
                    <div class="faixa-aluno">
                        
                        <select id="faixa" name="faixa">
                        <option value="Branca">Branca</option>
                        <option value="Azul">Azul</option>
                        <option value="Roxa">Roxa</option>
                        <option value="Marrom">Marrom</option>
                        <option value="Preta">Preta</option>
                    </select>
                    </div>

                    <div class="button">
                        <button type="submit">Marcar Presença</button>
                    </div>
                </div>
            
        </div>
        
        
    </form>
    </section>


        
</body>
</html>