body{
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area_login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    width: 350px;
    height: 320px;
    padding: 35px;
}

.formularios{
    display: flex;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}